body{
    background-color: blue;
    background: linear-gradient(90deg in oklab, blue, violet);
      
}
.profile {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
    margin-bottom: -70px;
    float: left;
}
.profilimage {
    width: 150px;
    margin-top: 20px;
    border: 5px solid white;
}
.profile h2{
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.profile h6{
    color: whitesmoke;
    transform: translateY(-10px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Biodata {
    background-color: white;
    text-align: justify;
}
.Biodata h1{
    margin-top: -30px;
    margin-bottom: 50px;
}
.achievement{
    margin: 20px auto;
    margin-bottom: -50px;
}
.footer{
    background-color: #fff;
}
.welcome-section {
    margin-top: 150px;
    text-align: right;
    float: right;
    margin-right: 50px;
}

.greeting-container {
    overflow: hidden;
}

.greeting {
    font-size: 3em;
    margin: 0;
    padding: 0;
    transform: translateY(100%);
    animation: slideIn 5s ease-in-out infinite;
    color: white;
    
}

@keyframes slideIn {
    0%, 100% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0);
    }
}
.row {
    padding: 0px 20px;
}
.achievement h1{
    margin-top: -150px;
    margin-bottom: 50px;
}
.contact a {
    color: black;
    font-size: 20px;
}
.watermark {
    padding-top: 30px ;
}
.pglm{
    align-items: center;
    background-color: #fff;   
}
.pglm h1{
    margin-bottom: 50px;
}
.ahli {
    margin-top: -80px;
}


/* Responsif pada layar kecil (ponsel) */
@media (max-width: 768px) {
    .welcome-section {
      margin-top: 160px;
      float: right;
    }
  
    .greeting {
      font-size: 19px;
      margin-bottom: 20px;
    }
      .profile {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        position: relative;
        margin-bottom: 10px;
        float: left;
    }
  }
  .Biodata{
    margin-top: 20px;
  }
  .achievement {
    margin-top: 130px;
    margin-bottom: 10px;
  }
  .ahli {
    margin-top:10px;
  }
  
  /* Responsif pada layar sedang (tablet) */
  @media (min-width: 767px) and (max-width: 992px) {
    .welcome-section {
        margin-top: 160px;
      }
    
      .greeting {
        font-size: 30px;
        margin-bottom: 20px;
      }
        .profile {
          display: flex;
          justify-content:center;
          align-items: center;
          flex-direction: column;
          margin-top: 50px;
          position: relative;
          margin-bottom: 10px;
      }

    .Biodata{
      margin-top: 20px;
    }
    .achievement {
      margin-top: 130px;
      margin-bottom: 10px;
    }
    .col-sm-4 {
        width: 100%; /* Menempati 100% lebar pada layar kecil */
        margin-left: 0; /* Tidak ada margin kiri pada layar kecil */
        margin-bottom: 20px; /* Margin bawah diberikan agar ada ruang antar elemen */
    }
    .col-sm-3{
        width: 100%; /* Menempati 100% lebar pada layar kecil */
        margin-left: 0; /* Tidak ada margin kiri pada layar kecil */
        margin-bottom: 20px; /* Margin bawah diberikan agar ada ruang antar elemen */
    }
    .pglm {
        margin-top: -10x;
    }
  }
  
